/* .App {
  text-align: center;
} */

/*

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Start Login Form and Registration Form styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  display: flex;
    flex-direction: column;
    height: 100%;
}



.input-content {
  min-width: 360px;
}

#nickname {
  min-width: 360px;
}

#login {
  min-width: 360px;
}

.ant-col-sm-offset-8 {
  margin-left: 0;
}

.ant-form-item-control-input-content {
  min-width: 360px;
}

#normal_login {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ End Login Form and Registration Form styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/